@import "tailwindcss";

@theme {
  --font-nunito: "Nunito Sans", sans-serif;
  --color-bg: rgb(32, 44, 54);
  --color-text: rgb(17 21 23);
  --color-secondary: rgb(43, 56, 68);
}

@custom-variant dark (&:where(.dark, .dark *));